.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 1.5rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  text-decoration: none;
  transition: background-color 0.5s, box-shadow 0.5s transform 0.3s ease;
}

.Navbar.sticky {
  background: white;
  box-shadow: 0 0.1rem 0.1rem blue;
  transform: translateY(0);
}

.Navbar.sticky.scrolled {
  background-color: #023e8a;
  transition: background-color 0.3s ease transform 0.3s ease;
}

.Title {
  font-size: 2rem;
  color: blue;
  font-weight: 500;
  cursor: default;
  margin-right: 760px;
  text-decoration: none;
}

.Navbarlink a {
  position: relative;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  margin-right: 3.5rem;
  text-decoration: none;
}

.Navbar.sticky .Navbarlink a {
  color: #03045e;
}

.Navbar.sticky .Navbarlink a.active {
  color: white;
}

.Navbarlink a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: #00b4d8;
}

.darkMode {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.Navbar.sticky {
  background-color: #00b4d8;
  box-shadow: 0 0.1rem 0.1rem blue;
}

.Navbar.sticky .darkMode {
  color: #03045e;
}

@media screen and (max-width: 768px) {
  .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 1.5rem 7%;
    background: #03045e;
    display: flex;
    align-items: center;
    z-index: 100;
    text-decoration: none;
    transition: background-color 0.5s, box-shadow 0.5s transform 0.3s ease;
  }
  .Navbar.sticky {
    background: #023e8a;
    box-shadow: 0 0.1rem 0.1rem blue;
    transform: translateY(0);
  }

  .Navbar.sticky.scrolled {
    background-color: #023e8a;
    transition: background-color 0.3s ease transform 0.3s ease;
  }

  .Title {
    font-size: 1rem;
    color: blue;
    font-weight: 400;
    cursor: default;
    margin-right: 50px;
    text-decoration: none;
  }

  .Navbarlink a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    margin-right: 1rem;
    text-decoration: none;
  }

  .Navbar.sticky .Navbarlink a {
    color: #03045e;
  }

  .Navbar.sticky .Navbarlink a.active {
    color: white;
  }

  .Navbarlink a.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background: #00b4d8;
  }

  .darkMode {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  .Navbar.sticky {
    background-color: #00b4d8;
    box-shadow: 0 0.1rem 0.1rem blue;
  }

  .Navbar.sticky .darkMode {
    color: #03045e;
  }
}

section {
  min-height: 75vh;
  padding: 10rem 7% 2rem;
}

.banner {
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
}

.banner .banner-content {
  max-width: 44rem;
}

.banner-content h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 0;
  color: #03045e;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: #023e8a;
}

.banner-content p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0077b6;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.1rem solid #00b4d8;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem#023e8a;
  font-size: 2rem;
  color: #00b4d8;
  margin: 1.5rem 1.5rem 3rem 0;
}

.social a:hover {
  background-color: #023e8a;
  color: white;
  transition: 0.5s ease;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background-color: #023e8a;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem #00b4d8;
  font-size: 1.2rem;
  color: #00b4d8;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: #00b4d8;
  border-color: blue;
}

.banner .work-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
  pointer-events: none;
}

.banner .work-container .work-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .work-container .work-box .work {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #023e8a;
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: white;
  padding: 10px 0;
}

.banner .work {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
}

.banner .circle {
  width: 560px;
  height: 560px;
  border: 3px solid #03045e;
  border-radius: 50%;
}

.banner .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid #03045e;
  border-right: 384px solid #0077b6;
  border-bottom: 384px solid #00b4d8;
  border-left: 384px solid transparent;
}

.banner-img img {
  position: absolute;
  top: 163px;
  bottom: 0;
  right: 0;
  width: 28%;
  pointer-events: none;
}

span {
  color: blue;
}

@media screen and (max-width: 768px) {
  section {
    min-height: 75vh;
    padding: 10rem 7% 2rem;
  }

  .banner {
    display: flex;
    align-items: center;
  }

  .banner {
    display: flex;
    align-items: center;
  }

  .banner .banner-content {
    max-width: 30rem;
  }

  .banner-content h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0;
    color: #03045e;
  }

  .banner-content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    color: #023e8a;
  }

  .banner-content p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #0077b6;
  }

  .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.1rem solid #00b4d8;
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem#023e8a;
    font-size: 2rem;
    color: #00b4d8;
    margin: 1rem 1rem 2rem 0.8rem;
  }

  .social a:hover {
    background-color: #023e8a;
    color: white;
    transition: 0.5s ease;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: #023e8a;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem #00b4d8;
    font-size: 1.2rem;
    color: #00b4d8;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;
    margin-left: 90px;
  }

  .btn:hover {
    background: transparent;
    color: #00b4d8;
    border-color: blue;
  }

  .banner .work-container {
    display: none;
  }

  .banner .work-container .work-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner .work-container .work-box .work {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #023e8a;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: white;
    padding: 10px 0;
  }

  .banner .work {
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
  }

  .banner .circle {
    width: 560px;
    height: 560px;
    border: 3px solid #03045e;
    border-radius: 50%;
  }

  .banner .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid #03045e;
    border-right: 384px solid #0077b6;
    border-bottom: 384px solid #00b4d8;
    border-left: 384px solid transparent;
  }

  .banner-img img {
    display: none;
  }

  span {
    color: blue;
  }
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8rem;
  background-color: white;
  padding-bottom: 7rem;
  padding-top: 4rem;
}

.heading {
  font-size: 3rem;
  text-align: center;
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.3rem solid #00b4d8;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.6rem solid #03045e;
  border-bottom: 0.6rem solid #03045e;
  border-left: 0.2rem solid #0077b6;
  border-right: 0.2rem solid #0077b6;
}

.about-content h2 {
  text-align: left;
  line-height: 1.1;
}

.about-content h3 {
  font-size: 1.2rem;
  color: #0077b6;
}

.about-content p {
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
  color: #023e8a;
  font-weight: 400;
}

.servizi {
  min-height: auto;
  padding-bottom: 2rem;
}

.servizi h2 {
  margin-bottom: 2rem;
}

.servizi .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.services-box {
  flex: 1 1 10rem;
  background-color: white;
  padding: 2rem 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem #023e8a;
  text-align: center;
  border-top: 0.6rem solid #023e8a;
  border-bottom: 0.6rem solid #023e8a;
  transition: 0.5s ease;
}

.services-box:hover {
  box-shadow: 0 0.1rem 2rem white;
  transform: scale(1.02);
}

.services-container .icon-servizi {
  font-size: 5rem;
  color: #023e8a;
}

.services-container h3 {
  font-size: 1.6rem;
  transition: 0.5s ease;
}

.services-box:hover h3 {
  color: #023e8a;
}

.services-container p {
  font-size: 1rem;
  margin: 1rem 0 3rem;
}

.btn-servizi {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.2rem;
  background-color: #023e8a;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem #00b4d8;
  font-size: 1.2rem;
  color: #00b4d8;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn-servizi:hover {
  background: transparent;
  color: #00b4d8;
  border-color: blue;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-image {
  max-width: 160px;
  height: auto;
  max-height: 160px;
  margin: 5px;
  background: white;
  transition: transform 2s;
}

.skill-image:hover {
  transform: rotateY(360deg);
}

/* SEZIONE PROGETTI */

.project {
  padding-bottom: 2rem;
}

.heading-progect {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3rem;
  text-align: center;
}

.project h2 {
  margin-bottom: 4rem;
}

.project .progetti-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.progetti-conteiner .progetti-box {
  position: relative;
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: 0, 1;
  overflow: hidden;
}

.progetti-box img {
  width: 100%;
  transition: 0.5s ease;
  filter: blur(0);
}

.progetti-box:hover img {
  transform: scale(1.1);
  filter: blur(5px);
}

.progetti-box .progetti-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba (0, 0, 0, 0.1), red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

.progetti-box:hover .progetti-layer {
  opacity: 1;
}

.progetti-layer h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.progetti-layer p {
  font-size: 1rem;
  margin-top: 0;
}

.progetti-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  color: #023e8a;
  background: white;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .progetti-conteiner .progetti-box {
    width: 100%;
  }
}

/* PARTE CONTATTI */

.contact h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.contact form {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 70%;
  padding: 1.5rem;
  font-size: 1.2rem;
  color: #023e8a;
  background: white;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input {
  width: 42%;
}

.btn-contact {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background-color: #023e8a;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem #00b4d8;
  font-size: 1.2rem;
  color: #00b4d8;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
  margin-left: 250px;
}

.btn-contact:hover {
  background: transparent;
  color: #00b4d8;
  border-color: blue;
}

.torna-su {
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background-color: #023e8a;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem #00b4d8;
  font-size: 1.2rem;
  color: #00b4d8;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
  margin-left: 1000px;
  margin-top: 250px;
  margin-left: 1250px;
}

.torna-su:hover {
  background: transparent;
  color: #00b4d8;
  border-color: blue;
}

.arrow {
  color: #00b4d8;
}

@media screen and (max-width: 768px) {
  .contact form .input-box input {
    width: 100%;
  }
  .contact form textarea {
    width: 200px;
  }
  .btn-contact {
    margin-left: 20px;
  }
}

/* PARTE CSS DEL FOOTER */
.footer {
  position: relative;
  width: 86%;
  height: 30vh;
  overflow: hidden;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.FooterWrite {
  font-size: 16px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.Socials a {
  font-size: 18px;
  color: white;
  margin-right: 10px;
  transition: 0.5s ease;
}
.Socials a:hover {
  font-size: 20px;
  color: #03045e;
}

.legal {
  color: #03045e;
}

/* CSS PER SCHERMI PICCOLI */

/* NAVBAR */

/* BANNER */
